<div class="full-width text-centre">
    <h1 class="display-3">Thank you, {{name}}!</h1>
    <p class="lead"><strong>Please check you email</strong>
    to confirm your subscription to our newsletter.</p>
    <hr>
    <p>
        Having trouble? <a href="">Contalsct us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homePage</a>
    </p>
</div>